################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fontes_/.vs/JulianaHote20171222/v15/Server/sqlite3
/Fontes_/.vs/config
